[Desktop Entry]
Name=dd Live-usb
Name[ca]=dd Live-usb
Name[de]=dd Live-usb
Name[el]=dd Live-usb
Name[es]=dd Live-usb
Name[fr]=dd Live-usb
Name[it]=dd Live-usb
Name[ja]=dd Live-usb
Name[nl]=dd Live-usb
Name[pt]=dd Live-usb
Name[ro]=dd Live-usb
Name[ru]=dd Live-usb
Name[sv]=dd Live-usb
Comment=Create a live-usb using dd
Comment[ca]=Create a live-usb using dd
Comment[de]=Create a live-usb using dd
Comment[el]=Create a live-usb using dd
Comment[es]=Create a live-usb using dd
Comment[fr]=Create a live-usb using dd
Comment[it]=Create a live-usb using dd
Comment[ja]=Create a live-usb using dd
Comment[nl]=Create a live-usb using dd
Comment[pt]=Create a live-usb using dd
Comment[ro]=Create a live-usb using dd
Comment[ru]=Create a live-usb using dd
Comment[sv]=Create a live-usb using dd
Icon=drive-removable-media-usb
Type=Application
Terminal=false
Exec=su-to-root -X -c "live-usb-maker-gui --dd"
Categories=System;
