[Desktop Entry]
Name=dd-live-usb
Name[ca]=
Name[de]=
Name[el]=
Name[es]=
Name[fr]=
Name[it]=
Name[ja]=
Name[nl]=
Name[pt]=
Name[ro]=
Name[ru]=
Name[sv]=
Comment=Create a live-usb using dd
Comment[ca]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[pt]=
Comment[ro]=
Comment[ru]=
Comment[sv]=
Icon=drive-removable-media-usb
Type=Application
Terminal=false
Exec=su-to-root -X -c "live-usb-maker-gui --dd"
Categories=System;MX-Live;
